
#overlayBg {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 1070;
    display: none;
}
#scheduleModal {
    background-color: #fff;
    position: absolute;
    border-radius: 8px;
    padding: 12px;
    z-index: 1080;	
    width: 992px;
    display: none;
    #closeModal  {
    	text-decoration: none;
    	position: relative;
    	float: right;
    	margin-right: 20px;
    	font-size: 24px;
    	line-height: 27px;
	font-weight: 700;
	width: 40px;
	height: 40px;
	padding: 3px 7px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #32b375 !important;
	display: block;
	text-align: center;
	vertical-align: middle;
    	&:hover {
    		text-decoration: none;
    	}
    }
    .ErrorMsg {
    	color: red;
    	font-weight: 700;
    	font-size: 18px;
    	line-height: 21px;
    }
    #calendar{
    	padding: 20px;
	.wc-container {
		.wc-nav {
		margin-top: 5px;
			button.wc-today, button.wc-next, button.wc-prev {
				display: inline-block;
				margin-bottom: 0;
				font-weight: normal;
				text-align: center;
				vertical-align: middle;
				cursor: pointer;
				background-image: none;
				border: 1px solid transparent;
				white-space: nowrap;
				padding: 6px 12px;
				font-size: 14px;
				line-height: 1.42857143;
				border-radius: 4px;
				-webkit-user-select: none;
		                        color: #333333;
				background-color: #ffffff;
				border-color: #cccccc;
			}
			button.wc-today {
				margin: 0 10px;
			}
			.ui-icon-seek-next:after {
				content: " >> ";
				padding: 0 5px;
			}
			.ui-icon-seek-prev:before {
				content: " << ";
				padding: 0 5px;	
			}
		}
		.wc-title {
			text-align: center;
			// height: 36px !important;
			line-height: 27px !important;
		}
		.wc-grid-timeslot-header, .wc-header .wc-time-column-header {
			vertical-align: top;
		}
		.wc-time-header-cell {
			height: 119px !important;
		}
		.wc-today {
			background: #dcffc8 !important;
			border-color: #dcffc8 !important;
		}
		
		.wc-business-hours {
			background: #7fdcaa !important; //more important than jquery ui's styling.
			color: white;
		}
	}
	
	}
	#cal_schedule{

	}
}
